/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

@import "bootstrap";

body {
  background-image: url(geometry2.png);
  background-repeat: repeat
}

h1 {
  color: midnightblue;
}

/* Tables with informations */

.title {
  color: darkred;
  font-weight: bold;
  display: inline;
}

.table-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-information > tbody > tr:first-child {
  border-top: 0;
}

.table-information > tbody > tr > td {
  border-top: 0;
}