%h1 New category

.panel.panel-default
  .panel-body
    = render 'form'

.text-center
  %a{:href => categories_path, :class => 'btn btn-primary'}
    Back&nbsp
    %span{:class => 'glyphicon glyphicon-arrow-left'}
