%p#notice= notice

%h2
  %b Category:
  = category.name

.panel.panel-default
  .panel-heading
    %h4
      Recently added products
  .panel-body
    %ul
      - @products.each do |product|
        %li
          = product.title
    %a{:href => category_products_path(category), :class => 'btn btn-default'}
      View all products&nbsp
      %span{:class => 'glyphicon glyphicon-list'}

.panel.panel-default
  .panel-heading
    %h4
      New product
  .panel-body
    = render 'products/form'

.text-center
  %a{:href => edit_category_path(category), :class => 'btn btn-primary'}
    Edit&nbsp
    %span{:class => 'glyphicon glyphicon-edit'}

  %a{:href => categories_path, :class => 'btn btn-primary'}
    Back&nbsp
    %span{:class => 'glyphicon glyphicon-arrow-left'}
