%h1 Editing product

.panel.panel-default
  .panel-body
    = render 'form'

.text-center
  %a{:href => category_product_path(category, product), :class => 'btn btn-primary'}
    Show&nbsp
    %span{:class => 'glyphicon glyphicon-search'}

  %a{:href => category_path(category), :class => 'btn btn-primary'}
    Back&nbsp
    %span{:class => 'glyphicon glyphicon-arrow-left'}