%h1 Listing products

%table.table{:class => 'table-hover'}
  %tr
    %th Title
    %th Description
    %th Price
    %th
    %th
    %th

  - products.each do |product|
    %tr
      %td= product.title
      %td= product.description
      %td= product.price
      %td
        .text-center
          %a{:href => category_product_path(product.category, product), :class => 'btn btn-default'}
            Show&nbsp
            %span{:class => 'glyphicon glyphicon-search'}
      %td
        - if current_user == product.user
          .text-center
            %a{:href => edit_category_product_path(product.category, product), :class => 'btn btn-default'}
              Edit&nbsp
              %span{:class => 'glyphicon glyphicon-edit'}
      %td
        - if current_user == product.user
          .text-center
            %a{:href => category_product_path(product.category, product), :class => 'btn btn-default',  :data => {:method => :delete, :confirm => 'Are you sure?' }}
              Destroy&nbsp
              %span{:class => 'glyphicon glyphicon-trash'}
%br

.text-center
  %a{:href => category_path(category), :class => 'btn btn-primary'}
    Back&nbsp
    %span{:class => 'glyphicon glyphicon-arrow-left'}
