.panel.panel-info
  .panel-heading
    %em= review.author
  .panel-body
    .row
      .col-sm-1
        .text-center
          %h4
            .label.label-default
              =review.rating
      .col-sm-11
        =review.content

