%h1 New review

.panel.panel-default
  .panel-body
    = render 'form'

.text-center
  %a{:href => category_products_path, :class => 'btn btn-primary'}
    Back&nbsp
    %span{:class => 'glyphicon glyphicon-arrow-left'}